<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Admin Paneli</li>
            <!-- <li><a href="index.html"><i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
            </li> -->
            <li>
                <a  asp-controller="Banner" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-image"></i><span class="nav-text">Banner</span>
                </a>
               
            </li>
            <li>
                <a asp-controller="Contact" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-envelope"></i><span class="nav-text">İletişim Bilgisi</span>
                </a>

            </li>

            <li>
                <a asp-controller="Counter" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-calculator"></i><span class="nav-text">Sayaç</span>
                </a>

            </li>
            <li>
                <a asp-controller="Deal" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-tag"></i><span class="nav-text">Tekliflerimiz</span>
                </a>

            </li>
            <li>
                <a asp-controller="Feature" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-list"></i><span class="nav-text">Öne Çıkanlar</span>
                </a>

            </li>
            <li>
                <a asp-controller="Message" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-comment"></i><span class="nav-text">Gelen Mesajlar</span>
                </a>

            </li>
            <li>
                <a asp-controller="Product" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-building"></i><span class="nav-text">Mülklerimiz</span>
                </a>

            </li>
            <li>
                <a asp-controller="Question" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-question"></i><span class="nav-text">Soru-Cevap</span>
                </a>

            </li>
            <li>
                <a asp-controller="Video" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-play"></i><span class="nav-text">Video</span>
                </a>

            </li>
            <li>
                <a asp-controller="Default" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-laptop"></i><span class="nav-text">Siteye Git</span>
                </a>

            </li>

           
        </ul>
    </div>
</div>