@model List<ResultBannerDto>
@{
    int count = 0;
}
<div class="main-banner">
    <div class="owl-carousel owl-banner">
        @foreach (var item in Model)
        {
            count++;

        <div class="item item-@count">
            <div class="header-text">
                <span class="category">@item.ImageUrl <em>@item.City</em></span>
                <h2><br>@item.Title</h2>
            </div>
        </div>
        }
      @*   <div class="item item-2">
            <div class="header-text">
                <span class="category">Melbourne, <em>Australia</em></span>
                <h2>Be Quick!<br>Get the best villa in town</h2>
            </div>
        </div>
        <div class="item item-3">
            <div class="header-text">
                <span class="category">Miami, <em>South Florida</em></span>
                <h2>Act Now!<br>Get the highest level penthouse</h2>
            </div>
        </div> *@
    </div>
</div>